<div class="container-fluid bg-background">
    <div class="row">
        <div class="col-1 side-bar">
            <div class="row mt-1">
                <div class="col-md-12">
                    <ul class="stepper stepper-vertical">
                        <li class="completed">
                            <a href="#!" class="active sidebar">
                                <span></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#!" class="sidebar">
                                <span></span>

                            </a>
                        </li>
                        <li class="warning">
                            <a href="#!" class="sidebar">
                                <span></span>

                            </a>
                        </li>
                        <li>
                            <a href="#!" class="sidebar">
                                <span></span>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-1 mt-5">
            <div class="col-md-12 col-sm-12">
                <ul class="stepper stepper-vertical mt-5 ul-padding">
                    <li class="active side-menu">
                        <img class="active menu" src="../assets/user.png">
                    </li>
                    <li class="active">
                        <img class="active menu" src="../assets/work.png" alt="" srcset="">
                    </li>
                    <li class="warning">
                        <img class="active menu" src="../assets/skills.png" alt="" srcset="">

                    </li>
                    <li>
                        <img class="active menu" src="../assets/map.png" alt="" srcset="">

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3 my-card mt-5">
            <div class="container my-info no-padding">
                <div class="col-12 no-padding">
                    <div class="back-img">
                        <img class="cover" src="../assets/Rectangle.png" alt="" srcset="">
                        <img class="logo" src="../assets//0.jpeg" alt="" srcset="">
                    </div>

                </div>
                <div class="col-12 no-padding mt-5">
                    <div class="text-info text-center">
                        <h5 class="text-white">Atul R. Falle</h5>
                        <p>Freelancer/ Angular 6+/Ionic 3+/Electron.js/Node.js </p>
                    </div>
                    <div class="social-icons text-center p-4">
                        <img src="../assets//Rectangle (1).png" alt="" srcset="">
                        <img src="../assets/Rectangle (2).png" alt="" srcset="">
                        <img src="../assets//Rectangle (3).png" alt="" srcset="">
                        <img src="../assets//Rectangle (4).png" alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

        </div>
    </div>
</div>